<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form style="align-content: center" method="post" action="/add">
        <label for="models"  data-icon="u" > 模块名 </label>
        <input id="models" name="models" required="required" type="text" placeholder="100 "/>
        <label for="version" data-icon="u"> 版本号 </label>
        <input id="version" name="version" required="required" type="text" placeholder="256">
        <input type="submit" value="确定">
    </form>
</body>
</html>